<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="mySql_dataMenu" connectionString="server=192.168.0.213;database=mj_log;uid=root;pwd=B85Jqcy7EZT^2CT;charset=utf8" />
    <add name="mj_cardshop_statistics" connectionString="server=192.168.0.213;database=mj_cardshop;uid=root;pwd=B85Jqcy7EZT^2CT;charset=utf8" />
    <add name="newpartner_statistics" connectionString="server=192.168.0.213;database=newpartner;uid=root;pwd=B85Jqcy7EZT^2CT;charset=utf8" />

    <add name="mySql_localhost_mj_log" connectionString="server=localhost;database=mj_log;uid=root;pwd=r123456;charset=utf8" />

  </connectionStrings>
 
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>